/**
* Table of contents
*
* Global resets
* Basic formatting
* Headings
* Body text
* Lists
* Tables
* Container
* Archive
* Posts
* Masthead
* Code
* Footer

import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*/

:root, html {
  color-scheme: light dark;

  --font-sans: "IBM Plex San", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono", monospace;
  --gutter: 1.5rem;
  --header-font: "Quicksand", sans-serif;
  --header-font-weight: 500;
  --radius-sm: 0.25rem;
  --radius-md: 0.5rem;
  --radius-lg: 0.75rem;

  $base-color: light-dark(#000, #eaeaea);
  $text-color: light-dark(#000, #eaeaea);
  $accent-color: light-dark(#0a71e2, #00adb5);

}

@mixin light-appearance {
  html, body {
    color-scheme: light;
  }
}

@mixin dark-appearance {
  html, body  {
    color-scheme: dark;
 };
}
html[data-theme="dark"] { color-scheme: dark; }
html[data-theme="light"] { color-scheme: light; }
