---
# Only the main Sass file needs front matter (the dashes are enough)
sitemap: false
---

@charset "utf-8";

// @use "theme";
@use "so-simple";

$serif-font-family: "IBM Plex Serif", serif;
$sans-serif-font-family: "Source Sans Pro", sans-serif;
$monospace-font-family: Menlo, Consolas, Monaco, "Courier New", Courier,
  monospace;

$base-font-family: $sans-serif-font-family;
$headline-font-family: $sans-serif-font-family;
$title-font-family: $serif-font-family;
$description-font-family: $serif-font-family;
$meta-font-family: $serif-font-family;

:root, html {
  color-scheme: light dark;

  --font-sans: "IBM Plex San", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono", monospace;
  --gutter: 1.5rem;
  --header-font: "Quicksand", sans-serif;
  --header-font-weight: 500;
  --radius-sm: 0.25rem;
  --radius-md: 0.5rem;
  --radius-lg: 0.75rem;

  $base-color: light-dark(#000, #eaeaea);
  $text-color: light-dark(#000, #eaeaea);
  $accent-color: light-dark(#0a71e2, #00adb5);
}

@mixin light-appearance {
  html, body {
    color-scheme: light;
  }
}

@mixin dark-appearance {
  html, body  {
    color-scheme: dark;
 };
}
html[data-theme="dark"] { color-scheme: dark; }
html[data-theme="light"] { color-scheme: light; }

.entry-title a {
  -webkit-transition: none !important;
  transition: none !important;
}
